In [ ]:
print(Hello World) # 문자열을 입력했는데, "" 또는 ''를 감싸주지 않았다.

SyntaxError: ignored

In [ ]:
# shift + Enter : 셀을 실행시키고, 하단에 코드 셀로 이동
# option + Enter : 셀을 실행시키고, 하단에 새로운 코드 셀을 생성
print("Hello World") # print(입력값) : 함수의 일종, 입력한 값(숫자, 문자열...)을 출력

Hello World

In [ ]:
# ctrl + m,b : 셀을 실행시키지 않고, 하단에 새로운 코드 셀을 생성
# Google colab은 '리눅스' 환경에서 작동 -> 터미널(입력창)을 통해서 명령어로 작동하는 OS (ex. 윈도우, 안드로이드)
# 리눅스의 어떤 특정한 기능을 하기 위해서는 터미널에 명령어를 넣어야 한다.
# !를 앞에 붙이고 나면, 리눅스의 터미널(커널)에 명령어를 사용할 수 있음.
!python --version

Python 3.8.10

In [ ]:
# Python은 ;(세미콜론)을 안써도 된다. 쓴다해도 버그가 나진 않는다.
# shift + option + 위/아래 방향키 : 해당 셀을 위/아래 행 복사
# option + 위/아래 방향키 : 해당 셀을 위/아래로 행 이동
# option + 좌/우 방향키 : 단어 단위로 좌우로 이동
# command + 위/아래 방향키 : 위(Home), 아래(End)
# command + 좌/우 방향키 : 해당 셀의 좌/우 끝으로 이동
# ';' : 줄 바꾸기
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World");

Hello World
Hello World
Hello World
Hello World

In [ ]:
# '#'을 입력하고, 뒤에 내용을 입력하면 -> 한 줄 주석
# command + / : 해당 셀을 주석으로 지정
print("주석") # 코드 뒤에 주석이 있어도 실행 영향 X
# print("주석") # 실행이 안됨

주석

In [ ]:
'''
여러 행을 주석할 때

'''
print('안녕')

안녕

In [ ]:
# 문자열을 입력할 때 외부에 ''(작은따옴표)로 감쌌으면, 안에 작은 따옴표를 넣으면 안됨.
# 굳이 넣고 싶다. 앞에 ₩를 넣어서 escape를 시켜서 처리

In [ ]:
a = 1
if a != 10: # 특정한 조건을 만족(True)시킬 때 작동하는 코드
    print("10이 아니네요")

10이 아니네요

In [ ]:
if a == 10: # 특정한 조건을 만족(True) 시킬 때 작동하는 코드
    print("10이네요")

In [ ]:
if a == 10: # 특정한 조건을 만족(True) 시킬 때 작동하는 코드
    print("10이네요")
    if a == 10:
        print("10이네요")

In [ ]:
# int : integer, 양의 정수와 음의 정수와 0
# float : 실수, 소수, 소수점이 붙어 있음
1, 1.0

(1, 1.0)

In [ ]:
# type : 자료형(Data Type)
type(1), type(1.0), type("1")

# str : string, duf, 문자열

(int, float, str)

In [ ]:
# 사칙연산 -> 산술연산자, 연산자 : 1개 이상의 피연산자(항)에 대해서 특정 연산(계산)을 실행시키는 명령
1 + 1, 2 - 3, 5 * 8, 13 / 21

(2, -1, 40, 0.6190476190476191)

In [ ]:
20 / 4 # 정수 간 (딴 떨어지게) 나누기를 해도 결과값은 무조건 실수

5.0

In [ ]:
# // : 몫 연산자(소수점 밑으로 버림)
20 // 4, 25 // 4

# 항 중에(피연산자 중에) 하나라도 실수라면 실수 결과값
5.5 // 2, 4 // 1.0, 2.5 // 0.2

(2.0, 4.0, 12.0)

In [ ]:
# % : 나머지 연산자, 모듈로, 모듈런스
10 % 3, 10 // 3

(1, 3)

In [ ]:
# ** : 거듭제곱 연산자
2 ** 5, 2 ** 0.5, 3 ** (1/3)

(32, 1.4142135623730951, 1.4422495703074083)

In [ ]:
# 값 -> 정수 (int(...))
int(1), int(1.0), int(1 * 1), int("1")

(1, 1, 1, 1)

In [ ]:
# 정수로 변환할 수 없는 숫자/문자열이기 때문에 오류
int("1.0")

ValueError: ignored

In [ ]:
# 정수로 변환할 수 없는 숫자/문자열이기 때문에 오류
int("일")

ValueError: ignored

In [ ]:
# divmod(a, b) : a를 b로 나누고, (몫, 나머지) (리턴값, 반환값)으로 출력
# //, % -> 한번에 수행
divmod(5, 2)

(2, 1)

In [ ]:
# 부동소수점 오류
3.1 + 2.2, 2.7 - 1.5

(5.300000000000001, 1.2000000000000002)

In [ ]:
1.5 * 3.1

1.7741935483870968

In [ ]:
5.5 / 3.1

1.7741935483870968

In [ ]:
# float -> float(...)
float(1), float(4 / 5), float("1.0")

(1.0, 0.8, 1.0)

In [ ]:
# 텍스트로 특정한 숫자를 받았는데, 정수화. but, 소수점 계산이 아니라는 확신이 없을 때
int(float("1.0"))

1

In [ ]:
1 + 2 * 3

7

In [ ]:
(1 + 2) * 3

9

In [ ]:
# = : 대입(할당) 연산자 / 값의 할당을 의미 
# == : 동등 연산자 / 같다(Equal)를 의미
x = 10

In [ ]:
x

10

In [ ]:
y = "The행복식당"
y

'The행복식당'

In [ ]:
type(x), type(y)

(int, str)

* = : 대입 연산자
* 같다, == : 동등 연산자

In [ ]:
x = None
print(x)

None

In [ ]:
a = 12 + 13 * 10 + 5
b = 17 / 5 * 20 + 19
a + b

234.0

In [ ]:
a = 10
a + 20

30

In [ ]:
a

10

In [ ]:
a = a +20

In [ ]:
a

30

In [ ]:
a += 20
a

50

In [ ]:
# d의 값을 정의하지 않음
d += 10

NameError: ignored

In [ ]:
# 선언 : 변수의 자리를 만드는 것
# 초기화 : 값을 대입하는 것
# 초기화 != reset / 초기화 = initialization

d = 10

In [ ]:
input()

안녕

'안녕'

In [ ]:
x = input() # 프롬프트에 '문자열'을 입력하는 함수(기능)
x

안녕

'안녕'

In [ ]:
type(x)

str

In [ ]:
a = input("숫자를 입력해주세요 : ")
b = input("숫자를 입력해주세요 : ")

a + b

숫자를 입력해주세요 : 1
숫자를 입력해주세요 : 2

'12'

In [ ]:
# 덧셈 연산을 실행하기 앞서서 int가 실행이 되면서 정수로 변환

a = input("숫자를 입력해주세요 : ")
b = input("숫자를 입력해주세요 : ")

int(a) + int(b)

숫자를 입력해주세요 : 1
숫자를 입력해주세요 : 2

3

In [ ]:
# 변수 a에 대입하기 전에 input의 결과값을 int로 변환

a = int(input("숫자를 입력해주세요 : "))
b = int(input("숫자를 입력해주세요 : "))

a + b

숫자를 입력해주세요 : 1
숫자를 입력해주세요 : 2

3

In [ ]:
"안녕하세요. 여러분." # 문자열 ( 리터럴)

'안녕하세요. 여러분.'

In [ ]:
type("안녕하세요. 여러분.")

str

In [ ]:
# 특정한 구분자(Seperator)를 기준으로 문자열을 분리
"안녕하세요. 여러분.".split() # 특정한 타입, 객체에 내장되어 있는 함수(기능) : 메소드(Method)

['안녕하세요.', '여러분.']

In [ ]:
"안녕하세요,여러분".split()

['안녕하세요,여러분']

In [ ]:
"안녕하세요,여러분".split(",")

# parameter : 매개변수, 인수
# argument : 인자

['안녕하세요', '여러분']

In [ ]:
# 2개 이상의 값이 결과로 나올 경우
# 해당 결과의 갯수에 맞게 변수를 위치시켜주면 알아서 할당됨.

a, b = "안녕하세요,여러분".split(",")

In [ ]:
a, b = input('문자열 두 개를 스페이스 기준으로 입력해주세요 : ').split()
a, b

문자열 두 개를 스페이스 기준으로 입력해주세요 : 한국 일본

('한국', '일본')

In [ ]:
a, b = input('숫자 두개를 입력하세요. : ').split()
int(a) + int(b)

숫자 두개를 입력하세요. : 1 2

3

In [ ]:
a, b = input('숫자 두개를 입력하세요. : ').split()
a = int(a)
b = int(b)

a + b

숫자 두개를 입력하세요. : 1 2

3

In [ ]:
# 괄호 "()"는 실행을 의미
# map(실행되기 전의 함수, 함수를 통해서 처리하고 싶은 값들)
a, b = map(int, input('문자열 두 개를 스페이스 기준으로 입력해주세요 : ').split())

a + b

문자열 두 개를 스페이스 기준으로 입력해주세요 : 1 2

3

In [ ]:
a, b = map(float, input('문자열 두 개를 스페이스 기준으로 입력해주세요 : ').split())

a + b

문자열 두 개를 스페이스 기준으로 입력해주세요 : 1 2

3.0

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("a", "b", 1) # 매개변수의 갯수가 정해져 있지 않은 함수

a b 1

In [ ]:
print("a", "b", 1, sep=' ')
print("a", "b", 1, sep='')
print("a", "b", 1, sep=';')
print("a", "b", 1, sep='랑')

a b 1
ab1
a;b;1
a랑b랑1

In [ ]:
print("민지") # 자동으로 줄바꿈이 됨
print("Daniel")
print("혜인", end='') # end= \n
print("혜린", end='이라는 사람,\n')
print("하니")

민지
Daniel
혜인혜린이라는 사람,
하니

In [ ]:
print("민지\n다니엘\n혜인\n혜린\n하니")

민지
다니엘
혜인
혜린
하니

In [ ]:
1_000_000
100_0000

1000000

In [ ]:
_

1000000